<div class="card-item" style="--index: @IndexZ;" @onclick=@OnClick @ondragstart=@OnDragStart>
    <img src="/images/cards/@(IsFlipped ? $"{Card.CardName}.png" : "cardback.png")" style="--select: @(IsFlipped ? "all" : "none")" />
</div>

@code {
    [CascadingParameter]
    public GameManager GameManager { get; set; }
    [Parameter]
    [EditorRequired]
    public Card Card { get; set; }
    [Parameter]
    public bool IsFlipped { get; set; }
    [Parameter]
    public int IndexZ { get; set; }
    [Parameter]
    public Action OnClick { get; set; }


    protected override void OnInitialized()
    {
        if(Card != null)
        {
            Card.IsFlipped = IsFlipped;
        }
    }

    private void OnDragStart()
    {
        GameManager.SetLastMove(Card);
    }
}
