<div class="card-item" style="--index: @IndexZ;" @onclick=@OnClick>
    <img src="/images/cards/@ImageName" style="--select: @(IsFlipped ? "all" : "none")" />
</div>

@code {
    [CascadingParameter]
    public GameManager GameManager { get; set; }
    [Parameter]
    public Card Card { get; set; }
    [Parameter]
    public bool IsFlipped { get; set; }
    [Parameter]
    public int IndexZ { get; set; }
    [Parameter]
    public Action OnClick { get; set; }


    private string ImageName;

    private string Select;

    protected override void OnInitialized()
    {
        if (Card is null)
            ImageName = "blank.png";
        else
            ImageName = IsFlipped? $"{Card.CardName}.png" : "cardback.jpg";

        Card.IsFlipped = IsFlipped;

        Select = IsFlipped ? "all" : "none";
    }
}
