<div class="draw-pile" @onclick="@DrawAction">
    <Dropzone Items="Pile.Cards" TItem="Card" Accepts="(first, second) => false">
        <CardItem Card=@context IndexZ=@Pile.Cards.IndexOf(context)></CardItem>
    </Dropzone>
</div>

@code {
    [CascadingParameter]
    public GameManager GameManager { get; set; }
    [Parameter]
    public Pile Pile { get; set; }
    private void DrawAction()
    {
        if (GameManager.Game.Board.DrawPile.IsEmpty())
            GameManager.ResetDeck();
        else
            GameManager.DrawCard();
    }
}
