<div class="draw-pile">
    @foreach (Card card in GameManager.Game.Board.DrawPile.Cards)
    {
        <CardItem Card=@card></CardItem>
    }
</div>

@code {
    [CascadingParameter]
    public GameManager GameManager { get; set; }
}
