@using Solitaire.Games.Core.Handlers;

<div class="side-board">
    <div class="pile">
        <DrawPile></DrawPile>
    </div>
    <div class="pile">
        <WastePile></WastePile>
    </div>
    <div class="pile"></div>
     @foreach (string suit in new[] { "♠", "♥", "♦", "♣" }) {
         <div class="pile">
             <SuitPile Suit=@suit></SuitPile>
        </div>
     }
</div>

@code {
    [CascadingParameter]
    public GameManager GameManager { get; set; }
}
