.side-board {
    height: 35%;
    margin-bottom: 3vh;
}

@media screen and (max-width: 1400px) {
    .side-board {
        height: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .side-board {
        height: 25%;
    }
}

@media screen and (max-width: 992px) {
    .side-board {
        height: 20%;
    }
}

@media screen and (max-width: 768px) {
    .side-board {
        height: 15%;
    }
}

@media screen and (max-width: 576px) {
    .side-board {
        height: 10%;
    }
}