<div class="waste-pile">
    <Dropzone Items="Pile.Cards" TItem="Card" Accepts="(first, second) => DragCardsAccepted(first, second)">
        <CardItem Card=@context IsFlipped=true IndexZ=@Pile.Cards.IndexOf(context) OnClick=@(() => GameManager.ClickCard(context))></CardItem>
    </Dropzone>
</div>

@code {
    [CascadingParameter]
    public GameManager GameManager { get; set; }
    [Parameter]
    public Pile Pile { get; set; }

    private bool DragCardsAccepted(Card first, Card second)
    {
        var drawPile = GameManager.Game.Board.DrawPile;
        
        return first.IsFlipped == false && drawPile.Contains(first);
    }
}
