* {
    box-sizing: border-box;
}

.plk-dd-inprogess > * {
    pointer-events: none;
}

.plk-dd-noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.plk-dd-dropzone {
    width: inherit;
    height: inherit;
    position: relative;
    border: dotted 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    aspect-ratio: calc(400/580);
}