<div class="board-pile">
    @for(int i = 0; i < Cards.Count - 1; i++)
    {
        <CardItem CardName=Cards[i].CardName IsFlipped=false Index=i></CardItem>
    }
    <CardItem CardName=@Cards[Cards.Count - 1].CardName IsFlipped=true Index=@(Cards.Count - 1)></CardItem>
</div>

@code {
    [Parameter]
    public List<Card> Cards { get; set; }
}
