@using Solitaire.Games.Core.Models.Piles;

<div class="board-pile">
    <Dropzone Items="Pile.Cards" TItem="Card">
        @if(Pile.IsFirstCard(context))
        {
            <div class="pile border-pile"></div>
        }
        else if(Pile.IsLastCard(context))
        {
            <CardItem Card=@context IsFlipped=true IndexZ=@Pile.GetCardIndex(context)></CardItem>
        } else
        {
            <CardItem Card=@context IsFlipped=@context.IsFlipped IndexZ=@Pile.GetCardIndex(context)></CardItem>
        }
    </Dropzone>
</div>

@code {
    [CascadingParameter]
    public GameManager GameManager { get; set; }
    [Parameter]
    public Pile Pile { get; set; }
}
