<div class="main-board">
    @for(int i = 1; i <= 7; i++)
    {
        <div class="pile">
            <BoardPile Cards=@Deck.GetCards(i)></BoardPile>
        </div>
    }   
</div>


@code {
    [Parameter]
    public CardDeck Deck { get; set; }
}
