<div class="main-board">
    @foreach(var boardPile in GameManager.Game.Board.BoardPiles)
    {
        <div class="pile">
            <BoardPile Pile=@boardPile></BoardPile>
        </div>
    }   
</div>


@code {
    [CascadingParameter]
    public GameManager GameManager { get; set; }
}
