<div class="footer">
    <div class="info">
        <span>©solitaire 2023</span>
    </div>
    <div class="info">
        <span>Dawid Wróbel / iamxdave</span>
        <div>
            <a href="https://www.github.com/iamxdave">
                <img src="/images/icons/github.svg" alt="Github link">
            </a>
            <a href="https://www.linkedin.com/in/iamxdave">
                <img src="/images/icons/linkedin.svg" alt="Linkedin link">
            </a>
        </div>
    </div>
</div>

